{# templates/commande/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Validation de la commande{% endblock %}

{% block body %}
    <h1>Validation de la commande</h1>

    {{ form_start(form) }}
        {{ form_row(form.adresseLivraison) }}
        {{ form_row(form.adresseFacturation) }}
        {{ form_row(form.modePaiement) }}

        <button type="submit">Valider la commande</button>
    {{ form_end(form) }}
{% endblock %}

