{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- Section de la bannière -->
    <section class="banner d-flex" style="width: 100%; position: relative; height:300px;">
        <div class="container-fluid justify-content-center align-items-center">
            <div class="video-container d-flex justify-content-center">
                <video id="myVideo" class="d-block video rounded-5" autoplay muted loop style="width:100%;">
                    <source src="{{ asset('video/pizza-fond.mp4') }}" type="video/mp4">
                    Votre navigateur ne prend pas en charge la lecture de vidéos HTML5.
                </video>
            </div>
            <div class="form_button d-none d-sm-flex col-12 col-sm-6 mb-3 mb-sm-0" role="search" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <form>
                    <input class="form-control" type="search" placeholder="Rechercher" aria-label="Search">
                    <button class="btn btn-outline-success" style="width: 20vh; height: 30px;" type="submit">Recherche</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Messages de succès -->
    {% for message in app.flashes('commande-ok') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <!-- Section des catégories -->
    <section class="Catégories bg-dark-subtil Lugrasimo py-5">
        <h1 class="text-center dancing"><a href="#">Catégories</a></h1>
        <div id="categoryCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for categorie in categories %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row g-4 d-flex justify-content-center">
                            <div class="col-md-4 d-flex">
                                <div class="card zoom w-100 h-100" style="background-image: url('{{ asset('IMG/' ~ categorie.image) }}'); background-size: cover; height: 300px;">
                                    <div class="card-body custom-card-body">
                                        <h5 class="card-title text-center" style="line-height: 10.5;"><a href="#">{{ categorie.libelle }}</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#categoryCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#categoryCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!-- Section des plats -->
    <section class="Plats bg-dark-subtil Lugrasimo mb-5">
        <h1 class="text-center dancing"><a href="#">Plats</a></h1>
        <div class="container-fluid justify-content-center mb-5">
            <div class="row g-4 justify-content-center">
                {% for plat in plats|slice(0, 5) %}
                    <div class="col-md-5">
                        <div class="card zoom w-100 h-100" style="background-image: url('{{ asset('/IMG/' ~ plat.image) }}'); background-size: cover; height: 300px;">
                            <div class="card-body custom-card-body">
                                <h5 class="card-title text-center" style="line-height: 4;"><a href="#">{{ plat.libelle }}</a></h5>
                                <p class="card-text text-center" style="line-height: 4;">{{ plat.prix }} €</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}


