<nav class="cc-navbar navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-uppercase mx-4 py-3 dancing" href="{{ path('app_home') }}">The District</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 dancing">
                <li class="nav-item pe-lg-4">
                    <a class="nav-link active" href="{{ path('app_home') }}">Accueil</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item pe-lg-4">
                    <a class="nav-link active" href="{{ path('app_profil') }}">Profil</a>
                </li>
                {% else %}
                <li class="nav-item pe-lg-4">
                    <a class="nav-link active" href="{{ path('app_register') }}">Inscription</a>
                </li>
                {% endif %}
                <li class="nav-item pe-lg-4">
                    <a class="nav-link" href="{{ path('app_categories') }}">Catégories</a>
                </li>
                <li class="nav-item pe-lg-4">
                    <a class="nav-link" href="{{ path('app_plats') }}">Plats</a>
                </li>
                <li class="nav-item pe-lg-4">
                    <a class="nav-link" href="{{ path('app_contact') }}">Nous Contacter</a>
                </li>
                <li class="nav-item pe-lg-4">
                    <a class="btn btn-order rounded-1" href="{{ path('app_panier') }}">Panier</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item pe-lg-4">
                    <a class="btn btn-danger rounded-1" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
                {% else %}
                <li class="nav-item pe-lg-4">
                    <a class="btn btn-order rounded-1" href="{{ path('app_login') }}">Se connecter</a>
                </li>
                <!-- Ajoutez ici d'autres liens pour les utilisateurs non connectés -->
                {% endif %}
            </ul>
            <form class="d-lg-none">
                <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Rechercher">
                <button class="btn btn-outline-success" type="submit">Rechercher</button>
            </form>
        </div>
    </div>
</nav>
